.header{
    background-color: rgb(2, 255, 204);
    position: relative;
    padding: 60px;
}
.tituloprincipal{
    text-align: center;
    position: absolute;
    background-color: rgb(233, 40, 40);
    top: 20px;
    left: 45px;
}

nav{
    position: absolute;
    top: 50px;
    right: 40px;
   
}
nav li{
    display: inline;
   
}
body {
 color: rgb(50, 49, 49);
}


.parent {
    background-color: dodgerblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div1 img{
        width: 100%;
    }

    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div2 img{
        width: 100%;
    }

@media screen and (max-whidt:700px){
    header{
        flex-direction: column;
        align-items: start;
    }
     nav li{
        display: block;
     }
}

.slider-box {
    width: 500px;
    height: 800px;
    margin: 0; 
    overflow: hidden;
}

.slider-box ul{
display: flex;
padding: 0;
width: 400%;
animation: slide 10s infinite alternate ease-in-out ;
}

.slider-box li {
width: 100%;
list-style: none;
position: relative;
}

.pepe {
  position: absolute;
  text-align: center;
  padding: 0 250px;
  top: 500px;
  color: rgb(255, 255, 255);
}
.texto h1{
  font-size: 45px;
  margin-bottom: 35px;
}
.slider-box img{
width:100% ;


}
@keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
     
    75% { margin-left: -300%;} 
    100% { margin-left: -300%;}

}

